---
---

@import "{{ site.theme }}";

html {
  scroll-behavior:smooth
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.wrapper {
  max-width: calc(940px - (30px * 2));
}

h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 20px;
}

hr {
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: #ccc;
  border: 0px;
  height: 1px;
}

h4 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

h3 {
  font-size: 20px;
  padding-top: 12px;
  color: #333;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 300;
  & > b {
    font-weight: 500;
  }
}

li {
  font-size: 18px;
  color: #333;
  font-weight: 300;
  & > b {
    font-weight: 500;
  }
}

.video-wrapper {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.authors-wrapper {
  text-align: center;
}

.author-container {
  display: inline-block;
  width: 12%;
  margin: 0 2% 0 2%;
  vertical-align: top;
}

.author-container p {
  margin-bottom: 0px;
  font-size: 14px;
}

.equal-contribution {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: 8px;
  margin-bottom: 0px;
}

.author-image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.author-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.center {
  text-align: center;
}

.acknowledgement {
  color: #999;
  font-size: 12px;
  margin-bottom: 0px;
}

.logos {
  text-align: center;
}

.logos img {
  padding: 0 4px 0 4px;
  height: 24px;
}

.logos a:nth-child(3) img {
  height: 36px;
}

.logos a:nth-child(5) img {
  height: 20px;
}

.img-left {
  display: inline-block;
  width: 45%;
}

.text-right {
  display: inline-block;
  width: calc(54% - 16px);
  margin-left: 16px;
  vertical-align: middle;
}

.img-right {
  display: inline-block;
  width: 49%;
}

.text-left {
  display: inline-block;
  width: calc(50% - 16px);
  margin-right: 16px;
  vertical-align: middle;
}

.case-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;

  & > div {
    flex: 1 1 250px;
    min-width: 220px;
    font-size: 16px;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
  }
}

.quote {
  width: 70%;
  margin-left: 15%
}

pre {
  display: block;
  font-size: 14px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.sys-img {
  width: 95%;
  margin-left: 2.5%;
}

lottie-player {
  width: 100%;
  max-width: 100%;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: #363636;
  color: #fff;
  fill: #fff;
  font-size: 16px;
  width: 80px;
  cursor: pointer;

  &:visited {
    color: #fff;
  }
  &:active {
    color: #fff;
  }
  &:hover {
    background-color: #222222;
    color: #fff;
    text-decoration: none;
  }
}

.button-disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: #787878;
  color: #fff;
  fill: #fff;
  font-size: 16px;
  width: 120px;
  cursor: default;

  &:visited {
    color: #fff;
  }
  &:active {
    color: #fff;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.sys-name {
  font-variant: small-caps;
  font-weight: bold;
  color: {{site.syscolor}};
}

strong {
  font-weight: 500;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 32px;

  & > div {
    max-width: calc(940px - (30px * 2));
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0;
  }
}

.credits {
  color: #777;
  font-size: 14px;
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  h4 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }

  .case-columns {
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

    & > div {
      flex: 1 1 100%;
      min-width: 100%;
      font-size: 14px;
    }
  }

  .author-container p {
    font-size: 10px;
  }

  pre {
    font-size: 10px;
  }

  .wrapper {
    max-width: calc(100vw - 30px);
  }

  .author-container {
    display: inline-block;
    width: 22%;
    margin: 0 1% 0 1%;
  }

  .img-left {
    display: block;
    text-align: center;
    width: 70%;
    margin-left: 15%;
  }

  .text-right {
    width: 100%;
    margin-left: 0px;
  }

  .sys-img {
    width: 100%;
    margin-left: 0;
  }

  .acknowledgement {
    font-size: 8px;
  }

  .credits {
    font-size: 10px;
  }

  .footer {
    & > div {
      max-width: calc(100vw - 30px);
    }
  }
}
